# TZ
TZ=

# MySQL
MYSQL_CONTAINER_NAME=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=

# RabbitMQ
RABBITMQ_CONTAINER_NAME=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_URI=

# phpMyAdmin
PHPMYADMIN_CONTAINER_NAME=
PHPMYADMIN_PORT=
PHPMYADMIN_PMA_HOST=
PHPMYADMIN_PMA_PORT=
PHPMYADMIN_PMA_USER=
PHPMYADMIN_PMA_PASSWORD=

# users
USUERS_PORT=
USERS_PERSISTENCE_JDBC_URL=
USERS_PERSISTENCE_JDBC_USER=
USERS_PERSISTENCE_JDBC_PASSWORD=
USERS_PERSISTENCE_JDBC_DRIVER=
USERS_JDBC_URL=
USERS_JDBC_USER=
USERS_JDBC_PASSWORD=
USERS_JDBC_DRIVER=